.user-list{
  width: 100%;
  margin-top:20px  ;
  }
  
  .user-list-container {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  
  .ava-github-container{
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
  }
  
  .ava-github-container {
      width: 100;
      height: 100%;
  }